:root {
  --twitter-color: #00acee;
  --twitch-color: #6441a5;
  --facebook-color: #4267b2;
  --linkedin-color: #0072b1;
  --reddit-color: #ff5700;
  --github-color: #171515;
  --behance-color: #053eff;
  --yellow-color: #fcd34d;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  min-height: 100vh;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow: hidden;
}

.userNoSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* -webkit-tap-highlight-color: transparent; */
  user-select: none;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #1683ff 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #1683ff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
