@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  min-height: 100vh;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
