:root {
  --twitter-color: #00acee;
  --twitch-color: #6441a5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  min-height: 100vh;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.userNoSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.removeBlueHighlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.hoverBaseCard {
  position: relative;
  top: 0;
  left: 0;
}

.hoverBaseCard:hover {
  box-shadow: 10px 10px 0px #a7a7a7;
  top: -5px;
  left: -5px;
}
